
html{
    font-size: 62,5%;
}

.logo{
    background-image: url(../imagenes/logobanner.png);
    width: 1150px; /* ANCHO */
    height: 200px; /* ALTO */
}

.contenedor{
    display: grid;
    background-color: #557F70;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: 
                        "header"
                        "main"
                        "footer";
}

.header__contenedor{
    grid-area: header;
}

.header__contenedor nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main__contenedor{
    grid-area: main;
    display: flex;
    flex-direction: row;
}

.main__contenedor ul{
    display: flex;
    flex-direction: column;
}

.main__contenedor div{
    padding-left: 50px;
}
.main__contenedor form{
    display: flex;
    flex-direction: column;
}
.footer__contenedor{
    grid-area: footer;
} 

h1{
    color: #f0f6f4;
    font-family: 'Cinzel', serif;
}
h2{
    color: #f0f6f4;
    font-family: 'Cinzel', serif;
    font-weight: lighter;
}
h3{
    color: #f0f6f4;
    font-family: 'Arimo', sans-serif;
    font-weight: lighter;
}
.colorVerdeclaro{
    color: #f0f6f4;
    font-family: 'Arimo', sans-serif;
}

a{
    color:#f0f6f4;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

.menu{
    width: 200px; /* ANCHO */
    height: 100px; /* ALTO */
}
ul{
    list-style-type:n;
    font-family: 'Arimo', sans-serif;
}
.pie{
    width: 1330px; /* ANCHO */
    height: 30px; /* ALTO */
    position: relative;
    bottom: 0px;
    color:#557F70;
    font-weight:bold;
    font-style: italic;
    font-family: 'Cinzel', serif;
    text-align: right;
    background-color: #f0f6f4;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-right: 10px;
}

@media screen and (max-width:768px) {
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
} 

/* esto es un ID */
#colorFondo{
    background-color: #557F70; 
} 